body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
  position: fixed; 
   top: 0px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 70px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.logo img {
  width: 320px;
}

.nav_item {
  margin-right: 50px;
  margin-bottom: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  height: 0;
  background-color: white;
  border: ;
}

#dropdown:hover .dropdown-content {
  display: block;
}
.nav_subitem {
  list-style: none;
  padding: 15px;
  background-color: white;
  border: 1px ;
   border-style: none none solid none;
   border-color: #1A3C8A;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_link {
  color: #1a3c8a;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.nav_link:hover {
  text-decoration: underline;
}
