
#navbar { 
   height: 60px; 
   background-color: #ffffff;
   padding-left: 25px;
   min-width: 470px;
   position: fixed; /*Stays always on top of the page. Not affected by scrolling.*/
   top: 0px;
}
#navbar ul { 
   display: none; 
   position: absolute;
   top: 100%;
   background-color: #ffffff;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { 
   float: left; 
   position: relative;
   height: 100%;
   width: fit-content;
}
#navbar li a {
  display: block;
  padding: 6px;
   color: #000000
  text-decoration: none;
  text-align: center;
  margin: 15px 15px 0px 0px;
}

#navbar ul li { float: none; }
#navbar li:hover { background-color: #D9D9D9;; }
#navbar ul li:hover { background-color: #D9D9D9; }

