body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  width: 100%;
  height: 150px;
}

.container {
  position: fixed; 
   top: 0px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.logo{
    width: 220px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  line-height: 1;

  color: #000000;
}

.logo span {
  color: #5abb33;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav_item {
    margin-right: 50px;
}

.nav_item:last-child{
    margin-right: 0;
}


.nav_link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.nav_item ul { 
   display: none;                               /*     <--------    */
   position: absolute;
   top: 100%;
   background-color: #ffffff;
}
.nav_item li:hover ul {
  display: block;                               /*     <--------    */
   position: absolute;
}

.nav_link:hover{
    text-decoration: underline;
} 

/*
#navbar { 
   height: 60px; 
   padding-left: 25px;
   background: #ffffff;
   min-width: 470px;
   position: fixed; 
   top: 0px;
   width: 100%;
   border: 4px black;
   border-style: none none double none;
   border-color: #1A3C8A;
}
#navbar ul { 
   display: none; 
   position: absolute;
   top: 100%;
   background-color: #ffffff;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { 
   float: left; 
   position: relative;
   height: 100%;
   width: fit-content;
}
#navbar li a {
  display: block;
  padding: 6px;
   color: #000000
  text-decoration: none;
  text-align: center;
  margin: 15px 8px 0px 8px;
}

#navbar ul li { 
   float: none; }
#navbar li:hover { 
   background-color: #1A3C8A; 
   color: #ffffff
   font-weight: bold
}
#navbar ul li:hover { 
   background-color: #1A3C8A; 
   color: #ffffff
   font-weight: bold
}
#navbar li ul li {
   border: 1px black;
   border-style: none none solid none;
   margin: 0px 8px 0px 8px;
}

#navbar li a:hover{
   color: #ffffff
}

 @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
