 <div class="navbar" style="style.css">
  
  <nav>
    <ul>
      <li>
       <img src="Nj_s.png" alt="NinJo-Logo" >
     </li>       
       <li width="50"> 
        <a href="index">Home</a>
         <ul>
          <a href="overview.html">Overview</a>
          <a href="features.html">Features</a>
          <a href="technicalInformation.html">Technical Information</a>
          <a href="softwareEditions.html">Software editions</a>
          <a href="prices.html">Pricing and licencing</a>
          <a href="publications.html">Publications</a>
         </ul>
       </li>
       <li><a href="about.html">About</a></li>
       <li><a href="additionalSoftware.html">Additional software</a></li>
       <li><a href="members.html">Project members</a></li>
     </ul>
  </nav>
  
</div> 
