<!--
<header class="header">
      <div class="container">
        <nav class="nav-wrapper">
          <div class="logo"><img class="logo" src="Nj_s.png" alt="logo"></div>

          <ul class="nav">
            <li class="nav_item"><a href="" class="nav_link">Home</a>
		  <ul>
				<li><a href="overview.html">Overview</a></li>
				<li><a href="features.html">Features</a></li>
				<li><a href="technicalInformation.html">Technical information</a></li>
				<li><a href="softwareEditions.html">Software editions</a></li>
				<li><a href="prices.html">Prices</a></li>
				<li><a href="publications.html">Publications</a></li>
		  </ul>
	    </li>
	    <li class="nav_item"><a href="" class="nav_link">About</a></li>
            <li class="nav_item"><a href="" class="nav_link">Additional software</a></li>
            <li class="nav_item"><a href="" class="nav_link">Project members</a></li>
          </ul>
        </nav>
      </div>
    </header>



<head>
  <meta name="viewport" content="width=device-width">
</head>
<div class="wrap">
<span class="decor"></span>
<ul id="navbar" style="css/header.css">
		 <li>
		   <img src="Nj_s.png" alt="NinJo-Logo" height="55">
		 </li> 
	 	<li/>
		<li><a href="index">Home</a>
			<ul>
				<li><a href="overview.html">Overview</a></li>
				<li><a href="features.html">Features</a></li>
				<li><a href="technicalInformation.html">Technical information</a></li>
				<li><a href="softwareEditions.html">Software editions</a></li>
				<li><a href="prices.html">Prices</a></li>
				<li><a href="publications.html">Publications</a></li>
			</ul>
		</li>
		<li><a href="about.html">About</a></li>
		<li><a href="additionalSoftware.html">Additional software</a></li>
		<li><a href="members.html">Project members</a></li>
		
	 
	</ul>

	-->
	<header class="nav-wrapper" style="css/header.css">
          <div class="logo">
            <img src="img/Nj_s.png" alt="NinJo logo" />
          </div>
          <div class="top-menu">
            <ul class="nav">
              <li id="dropdown" class="nav_item">
                <a href="" class="nav_link">Home</a>                
                <div>
                    <ul class="dropdown-content">                        
                        <li class="nav_subitem">
                            <a class="nav_link" href="pages/overview.html">Overview</a>
                        </li>
                        <li class="nav_subitem">
                            <a class="nav_link" href="pages/features.html">Features</a>
                        </li>
                        <li class="nav_subitem">
                            <a class="nav_link" href="pages/techInfo.html">Technical information</a>
                        </li>
                        <li class="nav_subitem">
                            <a class="nav_link" href="pages/soft.html">Software editions</a>
                        </li>
                        <li class="nav_subitem">
                            <a class="nav_link" href="pages/prices.html">Prices</a>
                        </li>
                        <li class="nav_subitem">
                            <a class="nav_link" href="pages/pubs.html">Publications</a>
                        </li>
                    </ul>
                </div>
                
              </li>
              <li class="nav_item">
                <a href="pages/about.html" class="nav_link">About</a>
              </li>
              <li class="nav_item">
                <a href="pages/addSoft.html" class="nav_link"
                  >Additional software</a
                >
              </li>
              <li class="nav_item">
                <a href="pages/members.html" class="nav_link"
                  >Project members</a
                >
              </li>
            </ul>
          </div>
        </header>
