<div class="topnav" id="myTopnav" style="style.css">
      <a href="#home" class="active">
        <img id="logo" src="Nj_s.png" alt="" />
      </a>
      <div class="navigation">
        <div class="dropdown">
          <button
            class="dropbtn"
            onclick="window.location.href = 'index.html';">
            Home
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Overview</a>
            <a href="#">Features</a>
            <a href="#">Technical information</a>
            <a href="#">Software editions</a>
            <a href="#">Prices</a>
            <a href="#">Publications</a>
          </div>
        </div>

        <a href="#about">About</a>

        <a href="#news">Additional software</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()"
          >&#9776;</a
        >
      </div>
    </div>
    <script>
      /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
